body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

/* Сховати додаткову інформацію за замовчуванням */
.hidden {
    display: none;
}

/* Анімація для додаткової інформації */
.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}